.banner {
  position: relative;
}

.img-text {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  font-family: var(--font-raleway);
  position: absolute;
  top: 25%;
  left: 7%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border: 0;
}

.img-text h1 {
  margin: 0;
  font-size: 100px;
  text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .img-text h1 {
    font-size: 65px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .img-text h1 {
    margin: 0;
    font-size: 80px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-text h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .img-text h1 {
    font-size: 20px;
  }
}

.product-title {
  font-family: var(--font-raleway);
  font-weight: bold;
}

.product-price {
  color: var(--primary-color);
  font-size: 18px;
}

.welcome-text {
  width: 75%;
  margin: 0 auto;
}